body {
    font-family: 'Smythe', cursive;
    background: #F5F5F5;
    color: #000;
} 

.page{
    width: 600px;
    height: 1300px;
   background-color: #FFFFFF;
   margin: 0 auto;
}

.logo{
    background-image: url("/bg\ img.png");
    background-size: cover;
    height: 167px;
    color: #FFFFFF;
}


.logo-title{
    font-size: 2.5rem;
    padding-top: 35px;
    padding-bottom: 5px;
}

.logo-desc{
    font-size: 1.25rem;
    margin-top: 0;
}

.logo-text{
    padding-left: 35px;
    margin: 0;
}

.item{
    display: flex;
    align-items: center;
    padding-left: 46px;
    padding-top: 46px;
    padding-bottom: 51px;
    border-bottom: 1px solid #D2D2D2;

}

.item-emoji{
    font-size: 4.91875rem;
    padding-right: 31px;
}

.item-title{
    font-size: 2.5rem;
    margin: 0;
}

.item-description{
    font-size: 1.5rem;
    color: #8B8B8B;
   margin: 0;
}

.item-price{
    font-size: 2rem;
    margin: 0;
}

.item-title , .item-price{
    color: #000000;
}

.item-price , .item-description{
    padding-bottom: 8px;
}


#add-btn{
    background: none;
    align-self: center;
    border: 1.5px solid #DEDEDE;
     border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: #3C3C3C;
  
}


.btn-container{
   margin-left: auto;
   padding-right: 57px;
}

button:hover{
    cursor: pointer;
}


.your-order{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

.checkout-details{
    display: flex;
    align-items: center;
    margin: 0;
}

.checkout-details .item-name , .total-price{
    font-size: 2.5rem;
   padding-left: 45px;
}


.checkout-details .item-amount , .total-amount{
    font-size: 2rem;
    margin-left: auto;
    padding-right: 45px;
}

.total-details{
    display: flex;
    align-items: center;  
    border-top:2px solid #393333;
    padding-top: 14px;
}



.purchase-btn{
    background: #16DB99;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    padding: 18px 194px;
   margin: auto;
   display: block;
   font-size: 1rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 700;
}

.hidden{
    display: none;
}